.blog-author-skin {
    background-image: url(''); 
}

.blogauthor::after {
   content: "SkriptError";
   color: gray;
}

.blogtitle::after {
   content: "1.8.9 Release Dates";
}

.blogcontent::after {
   content: "Hey everyone! We know we've been quiet about our 1.8.9 release date, but we're back. We're happy to announce that we will be doing a public beta for Aero Client 1.8.9! This public beta will take place sometime early this month, and will last one week, and will change significantly throughout the week of the beta. \a \a We also want to thank you all for over 400 users on Aero Client, we've been hard at work to make the client a fun experience for everyone, there will be only more to come. \a \a We've got huge plans for Aero Client that will be release in the coming days. Stay tuned.";
}

.about-responsemain::after {
   content: "Aero Client is a Free Modpack built for Minecraft 1.7.10. The goal and mission of Aero Client is to create a non-toxic and safe playing environment.";
}
